.app-footer {
    -fx-background-color: -theme-bg-surface;
    -fx-border-color: -theme-primary transparent transparent transparent;
    -fx-border-width: 0 0 0 0;
    -fx-padding: 40 32 40 32;
}

.app-footer-theme-text-main {
    -fx-font-family: "Montserrat";
    -fx-font-size: 12px;
    -fx-text-fill: -theme-accent;
}
